body {
    background-color: lightgrey;
}

h1 {
    text-align: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

#master {
    margin: auto;
    width: 50%;
    border: black 2px solid;
    padding: 10px;
    overflow: auto;
}


.titles {
    float: right;
    width: 92.5%;
}

#footer {
    margin: auto;
    width: 50%;
}

img {
    height: 12px;
    width: 50px;
}

.bold {
    font-weight: bold;
}
.italics {
    font-style: italic;
}