body {
    background-color: gray;
}

h1 {
    text-align: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

#master {
    margin: auto;
    width: 50%;
    height: 100%;
    border: black 2px solid;
    padding: 10px;
}


.titles {
    float: right;
    width: 92.5%;
}

#footer {
    margin: auto;
    width: 50%;
}